
.admin-head-style{
    font-family:'montserrat';
    margin-left: 4%;
    color : #6b6b6b;
    font-size: 16px;    
}

.table-style{
    font-family: "montserrat";
    
}

.table-body-style{
    font-size : 16px;   
    color : #6b6b6b;
}