.navbar-default{
    background-color: white;
    border: none;
}

.logo{
    height : 10%;
}

.nav{   
    margin: 1% 0% 0% 4%;
    font-family : "Libre Baskerville";
    font-size: 18px;
    color: #909090;
}

.display-balance{        
    margin: 5%;
}

.column {
    float: left;
    width: 40%;
    padding: 5%;
    margin: 0% 1% 0% 7%;
    font-family: "montserrat";
    font-weight: bold;
    background-color: #212121;
    color: #bfbfbf;    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin: 0% 1% 0% 2%;
  }
  