<section class="section-padding-transfer" style="margin-left: 27%;">
  <h3 class="heading-main" style="padding-left: 2%; padding-bottom: 2%;">
    Fund Transfer
  </h3>
  <!-- self same or other -->
  <!---------------------------------------------------------------------------------------------------->
  <div class="radio">
    <label class="transfer-label" style="font-weight: bold; margin-right: 1%;"
      >Account Type</label
    >
    <label class="radio-inline transfer-label"
      ><input
        type="radio"
        name="transactionType"
        (change)="selectValue()"
        [(ngModel)]="selection"
        value="self"
      />Self</label
    >
    <label class="radio-inline transfer-label" style="padding-left: 60px;"
      ><input
        type="radio"
        name="transactionType"
        (change)="selectValue()"
        [(ngModel)]="selection"
        value="same"
      />Same Bank</label
    >
    <label class="radio-inline transfer-label" style="padding-left: 60px;"
      ><input
        type="radio"
        name="transactionType"
        (change)="selectValue()"
        [(ngModel)]="selection"
        value="other"
      />Other Bank</label
    >
  </div>
  <!-- for self -->
  <!---------------------------------------------------------------------------------------------------->
  <div id="form-1" [hidden]="!self">
    <div class="radio">
      <label class="deposit-label" style="font-weight: bold;"
        >Transfer Type</label
      >
      <label class="radio-inline transfer-label"
        ><input
          type="radio"
          name="accountSelect"
          [(ngModel)]="selfTransfer.accountType"
          value="p2s"
          [checked]
        />Primary to Savings</label
      >
      <label class="radio-inline transfer-label"
        ><input
          type="radio"
          name="accountSelect"
          [(ngModel)]="selfTransfer.accountType"
          value="s2p"
        />Savings to Primary</label
      >
    </div>
    <div>
      <label class="transfer-label" style="font-weight: bold;"
        >Enter Amount
      </label>
      <input
        name="amount"
        class="transfer-label"
        type="text"
        [(ngModel)]="selfTransfer.amount"
        (keypress)="numberOnly($event)"
        placeholder="₹ 0.00"
      />
    </div>

    <div style="margin-left: 20%;">
      <button
        type="button"
        class="button-style button-padding"
        style="margin-top: 2%;"
        name="selfbutton"
        (click)="submitSelf()"
      >
        Transfer
      </button>
    </div>
  </div>
  <!-- for same -->
  <!---------------------------------------------------------------------------------------------------->
  <div id="form-2" [hidden]="!same">
    <section class="transfer-other">
    <div>
      <label class="transfer-label" style="font-weight: bold; margin-right: 1%;"
        >From Account Type</label
      >
      <label class="radio-inline transfer-label"
        ><input
          type="radio"
          name="fromtransactionType"
          value="Primary"
          [(ngModel)]="sameTransfer.fromAccountType"
        />Primary</label
      >
      <label class="radio-inline transfer-label" style="padding-left: 60px;"
        ><input
          type="radio"
          name="fromtransactionType"
          value="Savings"
          [(ngModel)]="sameTransfer.fromAccountType"
        />Savings</label
      >
    </div>
    <div>
      <label class="transfer-label" style="font-weight: bold; margin-right: 1%;"
        >To Account Type</label
      >
      <label class="radio-inline transfer-label" style="margin-left:26px;"
        ><input
          type="radio"
          name="rotransactionType"
          value="Primary"
          [(ngModel)]="sameTransfer.toAccountType"
        />Primary</label
      >
      <label class="radio-inline transfer-label" style="padding-left: 60px;"
        ><input
          type="radio"
          name="totransactionType"
          value="Savings"
          [(ngModel)]="sameTransfer.toAccountType"
        />Savings</label
      >
    </div>
      <div>
        <label
          class="transfer-label"
          style="font-weight: bold; margin-right: 74px; padding-bottom: 4%;"
          for=""
          >To Username
        </label>
        <input
          class="transfer-label"
          type="text"
          placeholder="Enter username"
          [(ngModel)]="sameTransfer.username"
        />
      </div>
      <div>
        <label
          class="transfer-label"
          style="font-weight: bold; margin-right: 63px; padding-bottom: 4%;"
          for=""
          >Enter Amount
        </label>
        <input
          class="transfer-label"
          type="text"
          (keypress)="numberOnly($event)"
          placeholder="₹ 0.00"
          [(ngModel)]="sameTransfer.amount"
        />
      </div>
      <div style="margin-left: 20%;">
        <button
          type="button"
          class="button-style button-padding"
          style="margin-top: 2%;"
          (click)="submitSame()"
        >
          Transfer
        </button>
      </div>
    </section>
  </div>
  <!-- for other -->
  <!---------------------------------------------------------------------------------------------------->
  <div id="form-3" [hidden]="!other">
    <section class="transfer-other">
      <div>
        <label
          class="transfer-label"
          style="font-weight: bold; margin-right: 85px;"
          >Bank Name
        </label>
        <input
          class="transfer-label"
          type="text"
          placeholder="Enter the Bank Name"
          [(ngModel)]="otherTransfer.bankName"
        />
      </div>

      <div class="radio">
        <label
          class="transfer-label"
          style="font-weight: bold; margin-right: 10%;"
          >Account Type</label
        >
        <label class="radio-inline transfer-label"
          ><input type="radio" name="accountSelect" [(ngModel)]="otherTransfer.accountType" value="Primary" />Primary</label
        >
        <label class="radio-inline transfer-label" style="padding-left: 30px;"
          ><input type="radio" name="accountSelect" [(ngModel)]="otherTransfer.accountType" value="Savings" />Savings</label
        >
      </div>

      <div>
        <label
          class="transfer-label"
          style="font-weight: bold; margin-right: 74px; padding-bottom: 4%;"
          for=""
          >Bank Branch
        </label>
        <input
          class="transfer-label"
          type="text"
          placeholder="Enter the Bank Branch"
          [(ngModel)]="otherTransfer.bankBranch"
        />
      </div>

      <div>
        <label
          class="transfer-label"
          style="font-weight: bold; margin-right: 92px; padding-bottom: 4%;"
          >IFSC Code</label
        >
        <input
          class="transfer-label"
          type="text"
          placeholder="Enter the IFSC Code"
          [(ngModel)]="otherTransfer.IFSC"
        />
      </div>

      <div>
        <label
          class="transfer-label"
          style="font-weight: bold; margin-right: 63px; padding-bottom: 4%;"
          for=""
          >Enter Amount
        </label>
        <input
          class="transfer-label"
          type="text"
          (keypress)="numberOnly($event)"
          placeholder="₹ 0.00"
          [(ngModel)]="otherTransfer.amount"
        />
      </div>

      <div>
        <label
          class="transfer-label"
          style="font-weight: bold; margin-right: 40px;"
          for=""
          >Account Number</label
        >
        <input
          class="transfer-label"
          type="text"
          (keypress)="numberOnly($event)"
          placeholder="Enter the Account Number"
        />
      </div>

      <div style="margin-left: 20%;">
        <button
          type="button"
          class="button-style button-padding"
          style="margin-top: 2%;"
          (click)="submitOther()"
        >
          Transfer
        </button>
      </div>
    </section>
  </div>
  <!---------------------------------------------------------------------------------------------------->
</section>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-3 alert alert-danger text-center error" *ngIf="err">
      {{ errMsg | titlecase }}
    </div>
    <div class="col-sm-3 alert alert-success text-center error" *ngIf="success">
      {{ errMsg | titlecase }}
    </div>
  </div>
</div>
