.deposit-label, .transfer-label{
  padding: 2%;
  font-size: 20px;
  font-family: "montserrat";
}

.section-padding-deposit, .section-padding-transfer{
  margin-left :25%;
  margin-top: 5%;
}

.heading-main{
  margin-left: 00%;
}

.display-form-1{
  display : "none";
}

.heading-main{
  margin-left: 17%;
  font-family: "montserrat";

}


.error{
  margin-left: -5%;
  margin-top: 1%;
  padding-right: 0%;
  border: transparent;
  border-radius: 50px;
}
