.heading-main{
  text-align: center;
  font-family: "montserrat";
  margin-top: 5%;
}


.table-style{
  font-family: "montserrat";

}

.table-body-style{
  font-size : 16px;
  color : #6b6b6b;
}
