.table-style{
  font-family: "montserrat";
  font-size : 20px;
}

.table-body-style{
  font-size : 20px;
  color : #6b6b6b;
}

.deposit::after{
  content: '222';
  color: green;
  background-color: green;
  text-align: end;
}

.withdraw::after{
  content: '222';
  color: red;
  background-color: red;
  text-align: end;
}