.heading-main{
  
  font-family: "montserrat";
  font-size: x-large;
  padding: 20px 0px 20px 400px;
 
}

.table-style{
  font-family: "montserrat";

}

.table-body-style{
  font-size : 16px;
  color : #6b6b6b;
}
