<div class="container">
  <section class="heading-main" style="padding-bottom: 0%;">
    <h3>Security</h3>
    <hr>
</section>

<section class="privacy-and-cookies">
    You can protect yourself by following these best practices when using the Internet:

    <ul>
        <li>
            Be aware that e-mail is insecure and easy to forge. E-mail that appears to be from a friend or company you do business with may be fraudulent and designed to trick you into providing personal information about yourself or installing dangerous software.

        </li><br>

        <li>
            Do not respond to e-mails or pop-up messages that solicit your personal information: name, address, Social Security number, etc.
        </li><br>

        <li>
            Only access trusted Web sites that you found other than by clicking on a Web site address in an e-mail and then added to your browser’s bookmarks. Otherwise, manually type the address into your browser and then bookmark it. When you receive an e-mail, rather than clicking on a Web site address in the e-mail, which can bring you to a fraudulent site, use the bookmark to access that site.
        </li><br>

    </ul>

    If you receive an e-mail from ICIN  you are uncertain about, or which you believe to be fraudulent, please forward it to abuse@icin.com. ICIN  will investigate the e-mail and respond back to you. If you are a client of the firm, please notify your sales representative or investment professional, as well.
    Please be advised that from time to time external parties may pose as ICIN  through fraudulent communications via email and phone calls in scams to market fake prospectus documents and to solicit monetary payments.  It is important to know that any communication you receive from ICIN  would come from an @icin.com e-mail address (not from a free email account such as Yahoo, Gmail or any other domain outside of “@icin.com”) and/or be found on the goldmansachs.com website.  If you receive a communication that you believe may not be from ICIN , please contact us.

    <h3>
        Personal Computer Security Tips
    </h3>

    No security practice is foolproof. You can, however, help protect yourself by following these best practices to secure your personal computer:

    <ul>
        <li>
            Install antivirus and anti-spyware software on your computer and make sure it is up to date with the most recent virus/spyware signatures.

        </li><br>

        <li>
            Make sure your computer is up to date with the most recent software patches. Patches are software updates that often address software vulnerabilities that phishing scams and viruses exploit.

        </li><br>

        <li>
            Install a firewall between your computer and the Internet. A firewall is software or hardware that acts as a buffer between your computer and the Internet that limits access to your computer and blocks communications from unauthorized sources.

        </li><br>

    </ul>


</section>
</div>
