<div class="container-fluid">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Links -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Login</title>
</head>

<body>
    <div class="row">

        <div class="col-sm-6">
            <img src="../../../../assets/css/images/Logo.png" alt="logo" class="logo">
            <header >
                <h1 class="heading-main">Login</h1>
            </header>

    <section class="section-padding">
        <form [formGroup]="form" (ngSubmit)="validateFormAndSubmit()" action="POST" ngNativeValidate>
            <div class="form-group">
                <label for="lemail" class="form-label" >Customer ID</label><br>
                <input type="text" id="lCustId" class="form-input" formControlName="username" (input)= "validateUserName()" required>
                <div class="alert alert-danger error" *ngIf="usernameError">
                    <p>{{usernameErrorMessage}}</p>
                </div>
            </div>

            <div class="form-group">
                <label for="lpass" class="form-label" >Password</label><br>
                <input type="password" id="lpass" class="form-input"  formControlName="password" (input)= "validatePassword()" required  >
                <div class="alert alert-danger error" *ngIf="passError">
                    <p>{{passErrorMessage}}</p>
                </div>
            </div>
            <a href="" class="form-label" style="color:#909090; font-size: 15px;">Forgot Password?</a>

            <div class="button-padding">
                <button type="submit" class="button-style">Login</button>
                <a [routerLink]="['/register']" style="margin: 15% 0% 0% 60%; color: #6b6b6b; font-family: Libre Baskerville; font-size:18px">Not Registered yet?</a>
            </div>

        </form>
        <div *ngIf="error" class="alert alert-danger">
          {{ errorMsg|titlecase }}
        </div>
    </section>

    <section class="section-padding">

    </section>

    <footer class="section-padding footer-font">
        <div style="margin: 5% 0% 2% 0%;">
            Banking services are offered by ICIN Bank. ICIN Bank is a Maharashtra chartered bank, a member of the Reserve Bank of India and a Member RBI.
            © 2020 ICIN. All rights reserved.
        </div>

        <a [routerLink]="['/security']" class="link-style">Security</a>
        <a href="privacyAndCookies.html" class="link-style">Privacy and Cookies</a>
        <a href="bankRegulatory.html" class="link-style">Bank Regulatory Information</a>
    </footer>

    </div>
    <div class="col-sm-6">
        <div class="bg">

        </div>
    </div>
</div>

</body>
</div>
