
/* .navbar navbar-default{
  background-color: white;
  border: none;
} */
.logo{
  /* height : -%; */
  margin-left: 0%;
}


.display-balance{
  margin: 2%;
}



.form-input {
    border-width: 0px 0px 1px 0px;
    width: 100%;
    padding : 2%;
    color: #0E0e10;
}



.footer-font{
    font-family: Verdana;
    font-size: 12px;
    color : #909090;
}


.column {
  float: left;
  width: 40%;
  padding: 2% 12% 2% 12%;
  margin: 0% 1% 0% 7%;
  font-family: "montserrat";
  font-weight: bold;
  background-color: #212121;
  color: #bfbfbf;
}

/* .button-padding{
    padding-left: 0%;
    margin-top: 5%;
} */

.row:after {
  content: "";
  display: table;
  clear: both;
}

  /* Full height */


.home-opt{
  font-size: 25px;
   color: #212121;
   padding: 20%;
}
.link-style{
  color:#6b6b6b;
  padding-right: 3%;
}

.bg {
  background-image: url("../../../../assets/css/images/loginBg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  list-style-type: none;
  overflow: hidden;
  background-color: white;
  background-color: white;
  border: none;
  margin: 0% 0% 0% 0%;
}

.navbar a {
  float: left;
  color: #909090;
  text-align: center;
  padding: 14px 15px;
  font-size: 20px;
  font-family : "Libre Baskerville";
  text-decoration: none;

}

.navbar a:hover {
  color: #212121;
  text-decoration: none;
}

.section-padding{
  padding-left: 5%;
}

.footer-font{
  font-family: Verdana;
  font-size: 12px;
  color : #909090;
}

.button-style{
  color:#bfbfbf ;
  background-color: #212121;
  padding : 1% 5% 1% 5%;
  text-align: center;
  font-size: 20px;
  font-family: "montserrat";
}
/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;

} */
.new-bg {
width:100%;
height: 100vh;
}
html,body {
  height: 100% !important;
}
