<section class="section-padding section-padding-deposit">
  <h3 class="heading-main" style="padding-left: 2%; padding-bottom: 0%;">Withdraw</h3>
  <div class="radio">
      <label class="deposit-label" style="font-weight: bold;">Account Type</label>
      <label class="radio-inline deposit-label"><input type="radio" name="accountSelect" checked>Primary</label>
      <label class="radio-inline deposit-label"><input type="radio" name="accountSelect">Savings</label>

    <div>
      <label class="deposit-label" style="font-weight: bold;" for="">Enter Amount </label>
      <input class="deposit-label" type="number" placeholder="₹ 0.00" >
    </div>

    <div style="margin-left: 20%;">
        <button type="submit" class="button-style button-padding" style="margin-left: 2%;">Submit</button>
    </div>
</div>
</section>
