.bg {
    /* The image used */
    background-image: url("../../../../assets/css/images/loginBg.jpg");
  
    /* Full height */
    height: 150%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .logo{
      height : 20%;
      margin-left: 2%;
  }
  
  .heading-main{
    font-family: "Libre Baskerville";
    font-size: 40px;       
    padding-left: 5%; 
    color: #212121;
    padding-bottom: 2%;
  }
  
  .form-label{
    font-family: "montserrat";
    font-size: 20px;    
    color: #6b6b6b;
    font-weight : normal;
  }
  
  .form-input {
      border-width: 0px 0px 1px 0px;
      width: 100%;
      padding : 2%;
      color: #0E0e10;
  }
  
  .section-padding{
      padding-left: 5%;
  }
  
  .footer-font{
      font-family: Verdana;
      font-size: 12px;
      color : #909090;
  }
  
  .button-padding{
      padding-left: 0%;
      margin-top: 5%;
  }
  
  .button-style{
      color:#bfbfbf ;
      background-color: #212121;
      padding : 1% 12% 1% 5%;
      text-align: center;
      font-size: 20px;
      font-family: "montserrat";
  }
  
  .link-style{
    color:#6b6b6b; 
    padding-right: 3%;
  }

.section-padding{
    padding : 1% 5% 0% 5%;
}

.heading-main{
    padding-bottom: 0%;
    font-size: 30px;
  }

.form-input{
    padding: 1%;
}

.logo{
    height : 8%;
    margin-left : 5%;
}

.bg{
    background-attachment: scroll;
}

.bg {
    /* The image used */
    background-image: url("../../../../assets/css/images/loginBg.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
  }

  .form-input{
    font-family: "montserrat";
    font-size: 18px;    
    color: #6b6b6b;
    font-weight : normal;
    border-width: 0px 0px 1px 0px;
    width: 100%;
    padding : 1% 0% 2% 1%;
    color: #0E0e10;
  }
  .error{
    margin: 1%;
    padding: 1.5%;
    padding-left: 4%;
    border: transparent;
    border-radius: 50px;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}