.deposit-label{
  padding: 2%;
  font-size: 20px;
  font-family: "montserrat";
}

.section-padding-deposit{
  margin-left :25%;
  margin-top: 5%;
}

.heading-main{
  margin-left: 17%;
  font-family: "montserrat";
  font-size: x-large;
  
}

.error{
  margin: 1%;
  padding: 1.5%;
  padding-right: 0%;
  border: transparent;
  border-radius: 50px;
}

.green{
  color: green;
}

.red{
  color: red;
}