<section class="section-padding section-padding-deposit">
  <h3 class="heading-main" style="padding-left: 2%; padding-bottom: 0%; margin-left: 5%;">Cheque Book Request</h3>
  <div class="radio">
      <label class="deposit-label" style="font-weight: bold; margin-left: 6%;">Account Type</label>
      <label class="radio-inline deposit-label"><input type="radio" name="accountSelect" checked>Primary</label>
      <label class="radio-inline deposit-label"><input type="radio" name="accountSelect">Savings</label>


    <div style="margin-left: 20%;">
        <button type="submit" class="button-style button-padding" style="margin-left: 2%;">Request</button>
    </div>
  </div>
</section>
