.edit-label{
  padding: 5%;
  margin: 2% 0% 8% 15%;
  font-family: "montserrat";
  font-size: 20px;
}

.form-input{
  font-family: "montserrat";
  font-size: 18px;
}

.error{
  margin: 1%;
  padding: 1.5%;
  padding-right: 0%;
  border: transparent;
  border-radius: 50px;
}

.heading-main{
  margin-left: 45%;
  font-family: "montserrat";
  font-size: x-large;
}