<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
        <!-- Custom Stylesheet
        <link rel="stylesheet" type="text/css" href="css/main.css">        
        <link rel="stylesheet" type="text/css" href="css/homePage.css">  
        <link rel="stylesheet" type="text/css" href="css/profileEdit.css">   -->

        <title>Profile Settings</title>  
    </head>

    <body>
        <div class="row">
            <div class="col-sm-9">

                <!-- <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <img src="css/images/croppedlogo.png" alt="logo" class="logo">    
                      </div>

                      <ul class="nav navbar-nav">
                        <li><a href="homePage.html">Home</a></li>
                        <li><a href="transaction.html">Account Transactions</a></li>
                        <li><a href="transfer.html">Fund Transfer</a></li>
                        <li><a href="chequeBook.html">Request For Cheque Book</a></li>
                        <li><a href="profile.html">Profile Settings</a></li>
                      </ul>

                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-out" style="margin-right: 5px;"></span>Logout</a></li>
                      </ul>
                    </div>
                  </nav>
                  <hr> -->
                
                <section>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="" class="edit-label">Username</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="userid" class="form-input" placeholder= "{{userDetails.username}}" disabled>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label for="" class="edit-label">Name</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="name" class="form-input" placeholder= "{{userDetails.firstName}} {{userDetails.lastName}}" disabled>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label for="" class="edit-label">Email Address</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="email" class="form-input" placeholder="{{userDetails.email}}" [(ngModel)]= "newEmail" (input)="validateEmail()">
                            <div class="alert alert-danger error" *ngIf= "emailError.error">
                            {{emailError.message}}    
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label for="" class="edit-label">Contact Number</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="phone" class="form-input" placeholder="{{userDetails.phone}}" disabled>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label for="" class="edit-label">Date of Birth</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="dob" class="form-input" placeholder="{{userDetails.dob}}" disabled>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label for="" class="edit-label">Address</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="address" class="form-input" placeholder="{{userDetails.address}}" [(ngModel)]= "newAddress" >
                            <div class="alert alert-danger error" *ngIf= "addressError.error">
                                {{addressError.message}}    
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label for="" class="edit-label">Password</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="password" id="password" class="form-input" placeholder="Enter New Password" [(ngModel)]= "newPassword" (input)="validatePassword()" >
                        </div>
                        <div *ngFor="let error of passwordError">
                            <div class="alert alert-danger error" *ngIf="error.error">
                                {{error.message}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label for="" class="edit-label">Confirm Password</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="password" id="confPass" class="form-input" placeholder="Confirm New Password" [(ngModel)]= "confPass" (input)="validateConfirmPassword()">
                            <div class="alert alert-danger error" *ngIf= "confPassError.error">
                                {{confPassError.message}}    
                            </div>
                        </div>
                    </div>
                    
                    <div >
                        <button type="submit" class="button-style" style="margin-left: 40%;" (click)= "validateAndSubmit()">Update Changes</button>                         
                    </div>
                    <div class="alert alert-success" id="success" *ngIf= "success.boolean">
                        {{success.message}}    
                    </div>
                </section>

                <!-- <footer class="section-padding footer-font" style="margin-top: 5%;">
                    <div style="margin-bottom: 2%;">
                        Banking services are offered by ICIN Bank. ICIN Bank is a Maharashtra chartered bank, a member of the Reserve Bank of India and a Member RBI.
                        © 2020 ICIN. All rights reserved.
                    </div>
                    
                    <a href="security.html" class="link-style">Security</a>
                    <a href="privacyAndCookies.html" class="link-style">Privacy and Cookies</a>
                    <a href="bankRegulatory.html" class="link-style">Bank Regulatory Information</a>
                </footer> -->

            </div>
            
            <div class="col-sm-3">
                <div class="bg">

                </div>
            </div>
        </div>
        
    </body>
</html>