
      <section class="display-balance">
        <div class="row">
          <div class="column" >
            <h2 style="font-size: 25px;">Primary Balance</h2>
            <p style="font-size: 60px;" >{{primary.balance|currency:'INR'}}</p>
            <p style="font-size: 20px;" >Account number : {{primary.number}}</p>
          </div>
          <div class="column" >
            <h2 style="font-size: 25px;">Savings Balance</h2>
            <p style="font-size: 60px;">{{savings.balance|currency:'INR' }}</p>
            <p style="font-size: 20px;" >Account number : {{savings.number}}</p>
          </div>
        </div>

      </section>

      <section class="display-balance">
        <div class="row">
          <div class="column text-center" style="cursor: pointer;" [routerLink]="['../deposit']" routerLinkActive="active">
            <a class="home-opt link-style">Deposit</a>
          </div>
          <div class="column text-center" style="cursor: pointer;" [routerLink]="['../withdraw']" routerLinkActive="active">
            <a class="home-opt link-style">Withdraw</a>
          </div>
        </div>

      </section>
