.navbar-default{
  background-color: white;
  border: none;
}

.logo{
  height : 20%;
}

.nav{
  margin: 1% 0% 0% 4%;
  font-family : "Libre Baskerville";
  font-size: 18px;
  color: #909090;
}

.display-balance{
  margin: 5%;
}

.column {
  float: left;
  width: 40%;
  padding: 5%;
  margin: 0% 1% 0% 7%;
  font-family: "montserrat";
  font-weight: bold;
  background-color: #212121;
  color: #bfbfbf;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin: 0% 1% 0% 2%;
}


.bg {
  /* The image used */
  background-image: url("../../../../assets/css/images/loginBg.jpg");

  /* Full height */
  height: 150%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
    height : 20%;
    margin-left: 2%;
}

.heading-main{
  font-family: "Libre Baskerville";
  font-size: 40px;
  padding-left: 5%;
  color: #212121;
  padding-bottom: 2%;
}

.form-label{
  font-family: "montserrat";
  font-size: 20px;
  color: #6b6b6b;
  font-weight : normal;
}

.form-input {
    border-width: 0px 0px 1px 0px;
    width: 100%;
    padding : 2%;
    color: #0E0e10;
}

.section-padding{
    padding-left: 5%;
}

.footer-font{
    font-family: Verdana;
    font-size: 12px;
    color : #909090;
}

.button-padding{
    padding-left: 0%;
    margin-top: 5%;
}

.button-style{
    color:#bfbfbf ;
    background-color: #212121;
    padding : 1% 5% 1% 5%;
    text-align: center;
    font-size: 20px;
    font-family: "montserrat";
}

.link-style{
  color:#6b6b6b;
  padding-right: 3%;
}

.bank-regulatory{
  margin: 2% 0% 8% 5%;
  font-family: "montserrat";
  font-size: 18px;
}

.privacy-and-cookies{
  margin: 1% 0% 1% 5%;
  font-family: "montserrat";
  font-size: 13px;
}

.navbar-default{
  background-color: white;
  border: none;
}

.logo{
  height : 10%;
}

.nav{
  margin: 1% 0% 0% 4%;
  font-family : "Libre Baskerville";
  font-size: 18px;
  color: #909090;
}

.display-balance{
  margin: 5%;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin: 0% 1% 0% 2%;
}

.home-opt{
  font-size: 25px;
  background-color: #212121;
  text-align: center;
}

.link-style{
  color:#909090;
  padding-right: 3%;
  text-decoration: none;
}

.link-style a:hover{
  color: #bfbfbf;
}
