<!--
<div class="row">
  <div class="col-sm-9">

    <app-navbar></app-navbar>
    <router-outlet> -->
      <section class="display-balance">
        <div class="row">
          <div class="column" >
            <h2 style="font-size: 25px;">Primary Balance</h2>
            <p style="font-size: 60px;">₹ 0.00</p>
          </div>
          <div class="column" >
            <h2 style="font-size: 25px;">Savings Balance</h2>
            <p style="font-size: 60px;">₹ 0.00</p>
          </div>
        </div>

      </section>
    <!-- </router-outlet>
      <footer class="section-padding footer-font" style="margin-top: 20%;">
          <div style="margin-bottom: 2%;">
              Banking services are offered by ICIN Bank. ICIN Bank is a Maharashtra chartered bank, a member of the Reserve Bank of India and a Member RBI.
              © 2020 ICIN. All rights reserved.
          </div>

          <a href="security.html" class="link-style">Security</a>
          <a href="privacyAndCookies.html" class="link-style">Privacy and Cookies</a>
          <a href="bankRegulatory.html" class="link-style">Bank Regulatory Information</a>
      </footer>

  </div>

  <div class="col-sm-3">
      <div class="bg">

      </div>
  </div>
</div> -->
